$app-background: #fff;
$color-primary: #0b655a;
$color-safe: #0b9c8a;
$color-dark: #2b4240;
$color-light: #98c3be;
$color-lighter: #e4f1f0;
$color-input-bg: #a4a9ae24;
$color-subtext: #b2c7c5;
$color-input-placeholder: #8e949a;
$color-danger: #e02042;
$font-stack: Helvetica, sans-serif;
$background-color: #fff;
$border-radius: 0.625rem;
$color-separator: #f1f2f3;
