$color-primary: #0b655a;
$color-dark: #2b4240;
$color-input-bg: #a4a9ae24;
$color-input-placeholder: #8e949a;
$color-danger: #e02042;
$font-stack: Helvetica, sans-serif;
$background-color: #fff;
$border-radius: 0.625rem;
