.appContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    padding: 1rem;
    background-color: $background-color;

    .stickerContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .sticker {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
            cursor: pointer;
            transition: background 0.3s ease;
            width: 9rem;
            height: 9rem;
            border-radius: 100%;
            object-fit: cover;
        }
    }

    .title {
        font-size: 24px;
        font-weight: bold;
        color: #333;
    }

    input {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    .buttonContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
}
