.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1.875rem 9rem 1.875rem;
    background-color: $background-color;
    overflow-y: scroll;
    height: 100vh; // Full viewport height

    h2,
    h3 {
        font-weight: 600;
    }

    > * {
        width: 100%;
    }

    .stickerContainer {
        height: 13rem;
        margin-block: 1.75rem;
        object-fit: contain;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        max-width: 30rem;
    }

    .title {
        font-size: 1.375rem;
        font-weight: 600;
    }
}

.loadingContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh; // Full viewport height
    background-color: $color-dark; // Dark translucent background
    background-image: url("/time-to-egate-app/assets/loading-bg.svg");
    padding-inline: 2.5rem;

    .loadingText {
        display: flex;
        flex-direction: column;
        gap: 0.875rem;
        text-align: center;

        .title {
            color: $background-color;
            font-size: 1.875rem;
        }

        .description {
            color: $background-color;
            font-size: 1.125rem;
            padding-inline: 1.25rem;
        }
    }

    .stickerContainer {
        width: 18rem;
    }
}
